<a href="https://colab.research.google.com/github/FranciscoJSSantos/Atividade_02_Rotina_ETL/blob/main/LabBancoDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###IMPORTAÇÕES NECESSÁRIAS

In [ ]:
import pandas as pd
import psycopg2 as pg
from sqlalchemy import create_engine

###CRIAR CONEXÃO COM O BANCO

In [ ]:
engine = create_engine('postgresql://francisco:12345678@209.209.40.89:19071/folhadb')

###TESTE DE 'SELECT' OU 'COUNT' PARA AS TABELAS

In [ ]:
sql = "SELECT * FROM folhadw.dm_cargos"
df = pd.read_sql_query(sql,con=engine) 
df

###CONEXÃO PARA REALIZAR AS QUERYS

In [ ]:
connection = pg.connect(user = "francisco", password = "12345678", host = "209.209.40.89", port = "19071", database = "FolhaDB")
curs = connection.cursor()

### rodar esse comando quando der esse erro: 

- current transaction is aborted, commands ignored until end of transaction block postgresql

In [ ]:
connection.rollback()

###LIMPAR FOLHA DW

In [ ]:
def limparFolhaDW():
  sql_delete_folha_dw = '''
    DELETE from folhadw.dm_faixas_etarias CASCADE;
    DELETE FROM folhadw.dm_rubricas CASCADE;
    DELETE FROM folhadw.dm_setores CASCADE;
    DELETE FROM folhadw.dm_tempos_folhas CASCADE;
    DELETE FROM folhadw.dm_tempos_servicos CASCADE;
    DELETE FROM folhadw.ft_lancamentos CASCADE;
    DELETE FROM folhadw.dm_cargos CASCADE;
  '''  
  connection.rollback()
  curs.execute(sql_delete_folha_dw)
  connection.commit()

limparFolhaDW()

###POPULAR OS CAMPOS DW

In [ ]:
def joinDmCargo():
  seql_join_dm_cargo = '''
    INSERT INTO folhadw.dm_cargos (cod_cargo,dsc_carreira,dsc_cargo)
    SELECT A.cod_cargo, B.dsc_carreira, A.dsc_cargo FROM folha.cargos A LEFT JOIN folha.carreiras B on A.cod_carreira = B.cod_carreira
  '''
  curs.execute(seql_join_dm_cargo)
  connection.commit()

joinDmCargo()

In [ ]:
def joinDmSetores():
  seql_join_dm_setores = '''
  INSERT INTO folhadw.dm_setores (cod_setor, dsc_unidade, cidade_unidade, uf_unidade, dsc_setor)
  SELECT S.cod_setor , U.dsc_und , U.cid_und, U.uf_und, S.dsc_setor FROM folha.setores S inner join folha.unidades U on S.cod_und = U.cod_und

  '''
  curs.execute(seql_join_dm_setores)
  connection.commit()

joinDmSetores()

###LIMPAR FOLHA RELACIONAL

In [ ]:
def limparFolha():
  sql_delete_folha = '''
    DELETE from folha.cargos;
    DELETE from folha.cargos;
    DELETE from folha.cargos;
    DELETE from folha.cargos;
    DELETE from folha.cargos;
    DELETE from folha.cargos;
    DELETE from folha.cargos;
    DELETE from folha.cargos;
  '''  
  connection.rollback()
  curs.execute(sql_delete_folha_dw)
  connection.commit()

limparFolha()